adf-resources/pipeline/PL_Orchestration_CP_SQL.json
{
	"name": "PL_Orchestration",
	"properties": {
		"description": "ADFCookbook",
		"activities": [
			{
				"name": "ac_getMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CSVData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ac_filterCSV",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ac_getMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ac_getMetadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ac_forCSV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ac_filterCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ac_filterCSV').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ac_forEachMetadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_CSVFiles",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "ac_insertMetadata",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ac_forEachMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertFileMetadata]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"ModifiedAt": {
										"value": {
											"value": "@activity('ac_forEachMetadata').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"UpdatedAt": {
										"value": {
											"value": "@convertFromUtc(utcnow(), 'Eastern Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_adevsql",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ac_Copy_to_SQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ac_Backup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_CSVFiles",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzSQL",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@substring(item().name,0,sub(length(item().name),4))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ac_Backup",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ac_insertMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AzSQL",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@substring(item().name,0,sub(length(item().name),4))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CSVFiles",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat(substring(item().name,0,sub(length(item().name),4)),'-', utcnow(),'.backup')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ac_onSuccess",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ac_Copy_to_SQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertPipelineLog]",
								"storedProcedureParameters": {
									"PipelineID": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "Success",
										"type": "String"
									},
									"UpdatedAt": {
										"value": {
											"value": "@convertFromUtc(utcnow(),'Eastern Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_adevsql",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ac_sendEmailOnFailure",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ac_Copy_to_SQL",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_EmailNotification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "MetadataAudit_1"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-28T22:07:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}