adf-resources/pipeline/PL_SQL_to_ADLS_parquet.json
{
	"name": "PL_SQL_to_ADLS_parquet",
	"properties": {
		"activities": [
			{
				"name": "L_Get_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CDEV_DB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Iterate_Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "L_Get_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('L_Get_Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "C_SQL_To_Lake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().Table_Name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_awdb02",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS2_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@pipeline().parameters.containerName",
											"type": "Expression"
										},
										"folderName": {
											"value": "@pipeline().parameters.folderName",
											"type": "Expression"
										},
										"dbName": {
											"value": "@{item().Table_Name}",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@{item().Table_Catalog}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"containerName": {
				"type": "string",
				"defaultValue": "bronze"
			},
			"folderName": {
				"type": "string",
				"defaultValue": "rl-sql-001"
			}
		},
		"folder": {
			"name": "SQLDynamicLoad"
		},
		"annotations": []
	}
}